.btn-container {
    display: flex;
}

.btn-container button {
    margin-right: 10px; /* Espacio entre botones */
}

.dato {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #637aa7;
    border: 1px solid #0f4863;
    border-radius: 5px;
}