body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mitad {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red; /* Borde temporal para verificar el centrado */
}

.superior {
  background-color: white;
}

.inferior {
  background-image: url("ruta-de-tu-imagen.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.data {
  margin: 10px 0;
}

.btn {
  margin: 5px;
}
