body {
  background-image: url("ver.jpg");
  background-size: 80% auto; /* Achica la imagen al 80% del ancho del contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Altura completa de la pantalla */
}
