#inicio {
    height: 100vh; /* Para ocupar el 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alineación de los elementos en la parte superior */
    flex-direction: column; /* Para apilar los elementos verticalmente */
}
 
#calendario {
    position: absolute;
    top: 80px; /* Ajusta esta propiedad según la altura deseada */
    left: 0;
    width: 300px; /* Ajusta el ancho del calendario */
    max-width: 100%;
    max-height: 300px; /* Ajusta la altura máxima del calendario */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el calendario es demasiado grande */
  }